<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <ul style="list-style-type:none;margin:5px;padding:10px 10px 10px 10px;overflow:hidden;background-color:dodgerblue">
        <font size='6'>
            <li style="display:inline"><a style="color:white;text-align:center">SMA Desa Hutan</a></li>
        </font>
        <font size='5'>
            <li style="display:inline"><a style="color:white;text-align:center;text-decoration:none">Home</a></li>
            <li style="display:inline"><a href="/students" style="color:white;text-align:center;text-decoration:none">Students</a></li>            
            <li style="display:inline"><a href="/teachers" style="color:white;text-align:center;text-decoration:none">Teachers</a></li>            
            <li style="display:inline"><a href="/subjects" style="color:white;text-align:center;text-decoration:none">Subjects</a></li>            
        </font>
    </ul>
</body>
</html>