<ul>
    <li class="logo"><a href="/">JS`School</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/teachers">Teachers</a></li>
    <div class="clear"></div>
</ul>