<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Student Form</title>
  </head>
  <body>
    <form action="/student" method="post">
      <div class="">
      <span>Student Name</span>
      <input type="text" name="studentName" value="">
      </div>

      <div class="">
        <span>Student Email Student</span>
        <input type="text" name="email" value="">
      </div>

      <div class="">
        <input type="submit">
      </div>

    </form>
  </body>
</html>
