<html>
  <head>
    <title> Sekolah </title>
  </head>
  <body>
    <h2>Halaman Utama Sekolah</h2>
    <a href = '/student'>
      <h3>Input student<h3>
    </a>
    <a href = '/teachers'>
      <h3>Lihat data Teachers<h3>
    </a>
  </body>
</html>
