<html>

<head>
  <title>Home</title>
</head>

<body>
  <center>
    <br>
    <div>
      <hr>
      <h1>Welcome to School of Grace.</h1>
      <p>The School of Grace, where each child is valuable and unique, and teachers tasked</p>
      <p>with directing and challenging students to explore, develop and use their talents in a way that glorifies God.</p>
      <hr>
      <br>
    </div>
    <h2><a style = 'text-decoration: none' href='/student'>Registration Student</a></h2>
    <p>
    <h2><a style = 'text-decoration: none' href='/teachers'>Our Teachers List</a></h2>
  </center>
</body>

</html>
