<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <h4>I love hacktiv8</h4>
    <ul>
      <li>
        <a href="/students">Student Menu</a>
      </li>
      <li>
        <a href="/teachers">Teacher Menu</a>
      </li>
    </ul>
  </body>
</html>
