<html>
  <header>
    <title><%= title%></title>
  </header>
  <body>
    ini profile sekolah
    <p>
    <a href="/student">student</a>
    <p>
    <a href="/teachers">teachers</a>

  </body>
</html>
