<html>
  <header>
    <title><%= title%></title>
  </header>
  <body>
    tabah data student
    <p>
    <form action="/action_page" method="post">
      nama: <input type="text" name="nama"><br>
      kelas: <input type="text" name="kelas"><br>
    <input type="submit" value="Submit">
  </form>
  </body>
</html>
