<html>
  <body>

    <h2>Student Form SD </h2>

    <form action="/success_submit" method="post">
      Student name:<br>
      <input type="text" name="student_name" value="">
      <br>
      Address:<br>
      <input type="text" name="address" value="">
      <br>
      Hobby:<br>
      <input type="text" name="hobby" value="">
      <br><br>
      <input type="submit">
    </form>
  </body>
</html>
