<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Teacher list</title>
</head>

<body>
  <h1>Teacher data</h1>
  <table>
    <tr>
      <th>Name</th>
      <th>Subject</th>
    </tr>
    <% dataTeachers.forEach(element => { %>
    <tr>
    <td><%= element.name %><td>
    <td><%= element.subject %></td>
    </tr>
  <% }) %>
 
  </table>
</body>

</html>