<html>
  <head>

  </head>
  <body>

    <h2>Teacher Database Table</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>School</th>
      </tr>
      <tr>
        <td>rama</td>
        <td>23</td>
        <td>sdn cilandak</td>
      </tr>
      <tr>
        <td>ramadi</td>
        <td>30</td>
        <td>sd cilandak</td>
      </tr>
      <tr>
        <td>muhhh</td>
        <td>28</td>
        <td>sd cipete</td>
      </tr>
    </table>

  </body>
</html>
