<%- include('./partials/header.ejs') %>
<%- include('./partials/menu.ejs') %>
<div class="container">
    <h1>Table Teachers</h1>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Siti Markonah</td>
                <td>siti@gmail.com</td>
                <td>Female</td>
                <td>Math</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Yohanes Sahrul</td>
                <td>yosa@gmail.com</td>
                <td>Male</td>
                <td>Web Programming</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Risnauli Magdalena Ambarita</td>
                <td>risnauli@gmail.com</td>
                <td>Female</td>
                <td>Sains</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Wenseslaus Lioba</td>
                <td>wens@gmail.com</td>
                <td>Male</td>
                <td>Music</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Fitrul Islam</td>
                <td>fitrul@gmail.com</td>
                <td>Male</td>
                <td>Agama</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Marco SUmali</td>
                <td>marco@gmail.com</td>
                <td>Male</td>
                <td>Sejarah</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Eki Fakruroji</td>
                <td>eki@gmail.com</td>
                <td>Male</td>
                <td>Komputer Science</td>
            </tr>
            </tr>
        </tbody>
    </table>
</div> <!--  container -->