<html>
  <head>
    <title> Sekolah </title>
    <style>
      td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
      }
    </style>
  </head>
  <body>
    <h2>Data Teachers</h2>
    <table>
      <tr>
          <th>Id</th>
          <th>Nama</th>
          <th>Mata Pelajaran</th>
      </tr>
      <tr>
          <td>1</td>
          <td>John Doe</td>
          <td>Bahasa Inggris</td>
      </tr>
      <tr>
          <td>2</td>
          <td>Do Jhon</td>
          <td>Matematika</td>
      </tr>
      <tr>
          <td>3</td>
          <td>Clementin</td>
          <td>Sejarah</td>
      </tr>
    </table>
    <a href = '/'>
      <h3> Back Home <h3>
    </a>
  </body>
</html>
